<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Created in DB</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="animal-form">
   <h3 class="animal-form">H! You have Successfully created new book:</h3>

    <p>
        <b>Title:</b>
        <%= book.title %>
            <br><br>
            <b>Year:</b>
            <%= book.year %>
            <br><br>
            
                <br><a href="./book">Create New Book</a>
                <br><br><br>
            <a href="/animal">Back to form</a>
            </body>
    </p>
    

</html>