<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact details .</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="contact-ejs">
    <h3>Sorry Something went Wrong By Submitting of Contact details:</h3>
    <p class="contact-para">
        <b>H! </b>
        <%= contact.name %>,
            <br>
            <p>Verify Your Informations as : </p>
            <b>Error:</b>
            <%= err %>
                <br>
                <p>has been received and I have sent you <br><br>an email
                    to say welcome.
                </p><br><br>
                <a href="/">Home Page</a>
                <br><br>
                <a href="https://github.com/francisChigozie"><strong>Visit My Github</strong></a>
    </p>
</body>

</html>