<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="welcome to the most extraordinary hotel in Heilbronn B채den-w체rttenberg">
    <meta name="keywordy" content="hotel,heilbronn,baden-w체rttenberg">
    <script src="https://kit.fontawesome.com/d5be46b1b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/hotel.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="../css/mobile.css">
    <title>Frankfurt Ledger | Contact </title>

</head>

<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo">
                    <span class="text-ledger"><i class="fas fa-book-open"></i>Frankfurt</span>Ledger
                </h1>
                <ul>
                    <li><a href="https://digitalexhibition.herokuapp.com/">Home</a></li>
                    <li><a href="https://digitalexhibition.herokuapp.com/frankfurt#about">About</a></li>
                    <li><a class="current" href="https://digitalexhibition.herokuapp.com/frankfurt#contact">Contact</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <section id="contact-form" class="py-3">
        <div class="container">
            <h3 class="l-heading">Thank you for your<span class="text-primary">
                    contact details </span>.We will write you back soon</h3>

            <div id="display"></div>
            <div class="frankfurt-image">

            </div>
        </div>
    </section>

    <!--  Main Footer -->

    <section id="contact-info" class="bg-dark">
        <div class="container">
            <div class="box btn">
                <i class="fas fa-hotel fa-3x"></i>
                <h3>Location</h3>
                <p>Ledger Str.10, Frankfurt am Main, Stuttgart Baden-w체rttenberg</p>
            </div>
            <div class="box">
                <i class="fas fa-phone fa-3x"></i>
                <h3>Phone Number</h3>
                <p>(+49) 234 987654</p>
            </div>
            <div class="box btn">
                <i class="fas fa-envelope fa-3x"></i>
                <h3>Email Address</h3>
                <p>ledgerfintec@info.de/p>
            </div>
        </div>
    </section>
    <footer id="main-footer">
        <p>Frankfurtledger &copy; 2021, All Rights Reserved</p>
    </footer>
</body>

</html>