<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all People in the data base</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="animal-form">
    <h3>Here are all the books:</h3>
    <ul>
        <% book.forEach((book) => { %>
        <li>
            <a href="/book?name=<%= book.name %>">
            <%= book.title %>  </a>:
            <%= book.year %> <br>
            
        </li><br>
        <% }); %>
    </ul>
    <br><br>
    <br><a href="./book">Create New Book</a>
</body>
</html>